body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 24;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color:  #6381a8;


}

h1{
    flex: 1,0, auto;
    font-size: 2.5rem;

}

#game {
    padding: 10px;

}

button {
    border-radius: 10px;
    background-color: #666;
    color: aqua;
    margin: 10px;
    font-size: 1.5rem;
    padding: 15px;
    min-width: fit-content;
    width: 125px;
}



#selections {
    margin: 10px;
    gap: 20px;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: fit-content;

}

#output {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px, solid, black;
    height: 150px;
    width: 480px;
    margin: 10px;
    padding: 40px;
    font-size: 1.2rem;
    color: rgb(247, 172, 87);
}

